<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.usecases.mybatis.model.Employee" alias="Employee"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.Deed" alias="Deed"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.Company" alias="Company"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.EmployeeDeed" alias="EmployeeDeed"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <!--<property name="data_source" value="java:global/StudentsDataSource"/>-->
                <property name="data_source" value="openejb:Resource/EmployeesDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/xml/DeedMapper.xml"/>
        <mapper resource="mybatis/xml/EmployeeMapper.xml"/>
        <mapper resource="mybatis/xml/EmployeeDeedMapper.xml"/>
        <mapper resource="mybatis/xml/CompanyMapper.xml"/>
    </mappers>
</configuration>